#content {
    max-width: 1200px;
    width: 95%;
    margin: 40px auto;
}

#content textarea {
    display: block;
    margin: 0 auto 1em auto;
    width: 90%;
    resize: none;
    font-size: 14px;
}