#content {
    max-width: 1200px;
    width: 95%;
    margin: 40px auto;
}

textarea {
    width: 100%;
    height: calc((100vh - 74px) * .25);
    resize: none;
}

textarea.pattern {
    width: auto;
    height: auto;
    resize: initial;
    margin: .25em .5em;
}

label {
    white-space: nowrap;
    margin: 0;
}