#content {
    max-width: 1200px;
    width: 95%;
    margin: 40px auto;
}

textarea {
    width: 100%;
    height: calc((100vh - 74px) * .25);
    resize: none;
    font-size: 14px;
}

.pattern {
    margin: .5em;
    width: auto;
    height: auto;
    resize: initial;
}