{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
    <link rel='stylesheet' href={% static 'word_features/css/index.css' %}>
    {% block stylesheet %}
    {% endblock %}
    <title>{% block title %}Template Title{% endblock %}</title>
    {% block head_scripts %} {% endblock head_scripts %}
</head>

<body>
    <div id='header'>
        {% block header %}
        <nav class='navbar navbar-expand-md navbar-dark bg-dark'>
            <span class='navbar-brand' id='logo'>
            <a href="{% url 'index' %}"> LOGO </a>
            </span>
        <div class='collapse navbar-collapse'>
            <ul class='navbar-nav'>
                {% for tool in all_tools %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url tool.url %}" >{{ tool.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        </nav>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        <div class=' d-flex justify-content-center align-items-center'> 
        TEST 
        </div>
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous"></script>
    <!-- Popper: dev version-->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src={% static 'word_features/js/clipboard.js'%}></script>
    {% block body_scripts %} {% endblock body_scripts %}
</body>
</html>