#content {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
}

#text-div {
    flex: 70%;
}

#count-info {
    flex: 30%;
}

#textarea {
    width: 100%;
    margin: 1em 1em 2em 1em;
    resize: none;
}

.count-display {
    margin: auto;
    padding: 1em 2em;
}

.count-label {
    text-align: center;
    font-size: 1.5em;
}

.count-value {
    text-align: center;
    font-size: 2em;
}

.count-display div{
    border: 1px solid black;
}