#content {
    max-width: 1200px;
    margin: 50px auto;
    border: 1px solid black;
}

#content textarea{
    width: 100%;
    resize: none;
}

#compare-button {
    margin: auto;
    margin-top: 1em;
    max-width: 100px;
}

.added {
    background-color: rgb(160, 255, 160);
}

.removed {
    background-color: rgb(255, 160, 160);
}

#diff-table {
    margin-bottom: 0!important;
    width: 100%;
}

#diff-table td, #diff-table th{
    border: 0;
}

#diff-table tbody th {
    font-weight: 400;
    color: darkgray;
    width:1%;
    white-space:nowrap;
}

#diff-table tbody td {
    width: 45%;
}