#content {
    max-width: 1300px;
    margin: 50px auto;
    border: 1px solid black;
}

#content textarea{
    width: 100%;
    resize: none;
}

#compare-button {
    margin: auto;
    margin-top: 1em;
    max-width: 100px;
}

.added {
    background-color: rgb(160, 255, 160);
}

.removed {
    background-color: rgb(255, 160, 160);
}