<h2 class='pt-1 text-center'>Compare Text</h2>
<form action='/diff' method='post' id='diff-form'>
{% csrf_token %}
{{form.ranges}}
<div class='d-sm-flex flex-column flex-wrap justify-content-center'>
    <div class='mx-4'>
        {{ form.text_1.label_tag }}
        <br>
        {{ form.text_1 }}
    </div>
    <div class='mx-4'>
        {{ form.text_2.label_tag }}
        <br>
        {{ form.text_2 }}
    </div>
    <button id='compare-button' class='btn btn-primary'>Submit</button>
</div>

</form>