{% extends 'word_features/word_template.html' %}
{% load static %}

{% block stylesheet %}
    <link rel='stylesheet' href={% static 'word_features/css/count.css' %}> 
{% endblock %}
{% block title%} Word Count {% endblock %}

{% block content %}
<div class='d-flex flex-row center-block'>
    <div id='text-div'>
        <textarea id='textarea' autocomplete='off' rows='20' wrap='off'></textarea>
    </div>
    <div id='count-info'>
        <div class='count-display'>
            <div id='word-count-label' class='count-label'>Word Count</div>
            <div id='word-count-value' class='count-value'>0</div>
        </div>
        <div class='count-display'>
            <div class='count-label'>LABEL</div>
            <div class='count-value'>69</div>
        </div>
        <div class='count-display'>
            <div class='count-label'>LABEL</div>
            <div class='count-value'>69</div>
        </div>
    <div>
<div>
{% endblock  %}

{% block body_scripts %}
    <script src={% static 'word_features/js/word_functions.js' %}></script>
    <script src={% static 'word_features/js/word_count_controller.js' %}></script>
{% endblock body_scripts %}